In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [2]:
df = pd.read_csv("../input/h-and-m-personalized-fashion-recommendations/transactions_train.csv", dtype={"article_id": str})
print(df.shape)


df.head()

(31788324, 5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2

In [3]:
df = df[::5000]
df.shape

(6358, 5)

In [4]:
# 데이터 타입 확인
df.dtypes

t_dat                object
customer_id          object
article_id           object
price               float64
sales_channel_id      int64
dtype: object

In [5]:
df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
5000,2018-09-20,1beeb0fda0fdc5ff5760c05a1b9dfc60f779f70ad59251...,0679494004,0.016085,2
10000,2018-09-20,366f8084581745ea281849d09dd9f5974c554326923539...,0612182001,0.033881,2
15000,2018-09-20,4f6e4cdac95581dc7d693a8f52a349fa44a343b5eb85a3...,0564073002,0.008458,2
20000,2018-09-20,689c6572a628613d1c87b286ba07ff947368b52b1b5839...,0562245004,0.023712,2
...,...,...,...,...,...
31765000,2020-09-22,48d9816605d183db54739b5ae69a1e596e2a3ebb0e051e...,0750423020,0.036000,1
31770000,2020-09-22,6fc127bf47a7785d4737c7c11d68fd0835b36aae8b632c...,0924518002,0.042356,1
31775000,2020-09-22,977bc45d15bf515730b0e9e6cf7991b4df2defff5ae952...,0572797002,0.011847,2
31780000,2020-09-22,bd5bcbd7bec3aed4fdbd3b3f581bfa9aaa61ed5b6ca3c0...,0917294003,0.025407,2
31785000,2020-09-22,e56673a81ca28f189257f7a6b25c4d214dfb36a5d405b2...,0852379003,0.028797,1

In [6]:
# t_dat 자료형을 datatime 형식으로 바꾸기
df['t_dat'] = pd.to_datetime(df['t_dat'])
print(df['t_dat'].max())
print(df.dtypes)

2020-09-22 00:00:00
t_dat               datetime64[ns]
customer_id                 object
article_id                  object
price                      float64
sales_channel_id             int64
dtype: object

In [7]:
# 최신 상품 구매 날
active_articles = df.groupby("article_id")['t_dat'].max().reset_index()

In [8]:
active_articles

      article_id      t_dat
0     0108775015 2019-05-12
1     0108775044 2020-06-22
2     0110065001 2018-11-14
3     0111565001 2018-12-27
4     0111586001 2020-08-29
...          ...        ...
5372  0933928002 2020-08-28
5373  0935787001 2020-08-23
5374  0936282001 2020-08-25
5375  0937915001 2020-08-22
5376  0947060001 2020-09-04

[5377 rows x 2 columns]

In [9]:
active_articles  = active_articles[active_articles['t_dat'] >= "2019-08-01"]
active_articles.shape

(2925, 2)

In [10]:

df2 = df[df["article_id"].isin(active_articles["article_id"])].reset_index(drop=True)

In [11]:
df2

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,689c6572a628613d1c87b286ba07ff947368b52b1b5839...,0562245004,0.023712,2
1,2018-09-20,9c88a9a348f4c2d2a5b8fae64116da5f59cbb20bf41a6c...,0399223001,0.033881,1
2,2018-09-27,05cbb16555c26d78b2167bb5625b61a331abe9dd949530...,0673677002,0.016932,1
3,2018-09-28,d9e7212fe96bbd8b11cdeffacab86c6f6d16742e283f1a...,0678086001,0.025407,2
4,2018-09-29,aa93e28e573c3279b25584240048c47dee7d2e716bda67...,0399223001,0.033881,2
...,...,...,...,...,...
3633,2020-09-22,48d9816605d183db54739b5ae69a1e596e2a3ebb0e051e...,0750423020,0.036000,1
3634,2020-09-22,6fc127bf47a7785d4737c7c11d68fd0835b36aae8b632c...,0924518002,0.042356,1
3635,2020-09-22,977bc45d15bf515730b0e9e6cf7991b4df2defff5ae952...,0572797002,0.011847,2
3636,2020-09-22,bd5bcbd7bec3aed4fdbd3b3f581bfa9aaa61ed5b6ca3c0...,0917294003,0.025407,2
3637,2020-09-22,e56673a81ca28f189257f7a6b25c4d214dfb36a5d405b2...,0852379003,0.028797,1

In [12]:
(df2["t_dat"].max() - df2["t_dat"]).dt.days // 7

0       104
1       104
2       103
3       103
4       103
       ...
3633      0
3634      0
3635      0
3636      0
3637      0
Name: t_dat, Length: 3638, dtype: int64

In [13]:
df2["week"] = (df2["t_dat"].max() - df2["t_dat"]).dt.days // 7
df2["week"].value_counts()

13     110
42     104
12     104
51      85
23      80
      ...
88       2
104      2
96       1
97       1
100      1
Name: week, Length: 104, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
 np.unique(df["article_id"].values)

array(['0108775015', '0108775044', '0110065001', ..., '0936282001',
       '0937915001', '0947060001'], dtype=object)

In [16]:
article_ids = np.concatenate([["placeholder"], np.unique(df["article_id"].values)])

In [17]:
article_ids

array(['placeholder', '0108775015', '0108775044', ..., '0936282001',
       '0937915001', '0947060001'], dtype=object)

In [18]:
le_article = LabelEncoder()
le_article.fit(article_ids)

LabelEncoder()

In [19]:
df2['article_id']

0       0562245004
1       0399223001
2       0673677002
3       0678086001
4       0399223001
           ...
3633    0750423020
3634    0924518002
3635    0572797002
3636    0917294003
3637    0852379003
Name: article_id, Length: 3638, dtype: object

In [20]:
df2['article_id'] = le_article.transform(df2["article_id"])
df2['article_id']

0        615
1        162
2       1746
3       1823
4        162
        ...
3633    3339
3634    5360
3635     731
3636    5343
3637    4840
Name: article_id, Length: 3638, dtype: int64

In [21]:
WEEK_HIST_MAX = 5

In [22]:
week = 3
hist_df = df2[(df2["week"] > week) & (df2["week"] <= week + WEEK_HIST_MAX)]

In [23]:
hist_df = hist_df.groupby("customer_id").agg({"article_id": list, "week": list}).reset_index()

In [24]:
hist_df

                                           customer_id article_id week
0    001bf9b4bb1cbd8e24659de883b197deebf276ab7a4958...     [2425]  [8]
1    00fa33158eb59432984490a9c7bac5897496e841cca799...     [3069]  [7]
2    020de0fbb3339f8f044db4bf1f5c3de979bf3018c17c5c...     [3601]  [6]
3    02a18b13df6dc0b84c2e5d000a3c287e2dbceed416052a...     [4795]  [7]
4    0477e91b40ad35303c006c7bde864b82d5b74f440810f4...     [4577]  [7]
..                                                 ...        ...  ...
281  f7f3d6582061da0ac32f3b72fd806e4a0627dd689db45d...     [5303]  [8]
282  f8a4b45084fecf5419b92c14111add3b6250451967fef2...     [4227]  [8]
283  fc106c70100e1e763504b4747954d1ccdd4f9757a1c6f0...      [642]  [4]
284  fc28d7b59c58cd83da1b2425e40840b4eba2392fe5dad8...     [4844]  [4]
285  fdbe959d7f4c601a8e111ca01a02644406b0da4b2b636a...     [5089]  [6]

[286 rows x 3 columns]

In [25]:
def create_dataset(df, week):
    hist_df = df[(df["week"] > week) & (df["week"] <= week + WEEK_HIST_MAX)]
    hist_df = hist_df.groupby("customer_id").agg({"article_id": list, "week": list}).reset_index()
    hist_df.rename(columns={"week": 'week_history'}, inplace=True)
    
    target_df = df[df["week"] == week]
    target_df = target_df.groupby("customer_id").agg({"article_id": list}).reset_index()
    target_df.rename(columns={"article_id": "target"}, inplace=True)
    target_df["week"] = week
    
    return target_df.merge(hist_df, on="customer_id", how="left")

In [26]:
val_weeks = [0]
train_weeks = [1, 2, 3, 4]


val_df = pd.concat([create_dataset(df2, w) for w in val_weeks]).reset_index(drop=True)
train_df = pd.concat([create_dataset(df2, w) for w in train_weeks]).reset_index(drop=True)
train_df.shape, val_df.shape

((212, 5), (48, 5))

In [27]:
train_df

,customer_id,target,week,article_id,week_history
0,023aa30edd9688574a459972fa90847a3006542c62e6f7...,[5345],1,NaN,NaN
1,043f49dd955132ff276adc3b9f756dc7b59013bf095ada...,[5357],1,NaN,NaN
2,0d1dbfa8dcc30a803ae292d63fd3b3754b212e46343fa0...,[5354],1,NaN,NaN
3,0f2841ab48c80c506fc466a6fcd8dca9b0fda6df0b9577...,[5326],1,NaN,NaN
4,1015aaaf4be1d4e7f3119b28970554d7c2eb0d0330818a...,[5339],1,NaN,NaN
...,...,...,...,...,...
207,e9a1e414aa00dc98f7336a23107d9e4690b1464338e2f4...,[3721],4,NaN,NaN
208,ed8056b7a7eb4d07e19ee78818e5b63e68fc564ad1cdb9...,[5219],4,NaN,NaN
209,edb869d2ccfa1a576b910c9b9ebe704484362a2e3c6e7f...,[5367],4,NaN,NaN
210,fc106c70100e1e763504b4747954d1ccdd4f9757a1c6f0...,[642],4,NaN,NaN
211,fc28d7b59c58cd83da1b2425e40840b4eba2392fe5dad8...,[4844],4,NaN,NaN